 <!DOCTYPE html>
 <html lang="en">
<head>
   <%- include('./partials/head')  %>
   <title>Signin</title>
</head>
 <body>

   <%- include('./partials/nav')  %>

   <div class="container mt-4">
    <form class="row g-3" action="/user/signin" method="post">
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="email" required>
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" required>
      </div>

      <!-- Submit button below fields; w-100 makes it full-width -->
      <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary w-100">Sign in</button>
      </div>
    </form>
   </div>
 
   <%- include('./partials/scripts')  %>
 </body>
 </html>